.calculator-container {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.menu-left {
  display: flex;
  align-items: center;
  padding: 5px;
  min-height: 42px;
  border-bottom: 1px solid grey;
  overflow: hidden;
}

.clear {
  min-width: 32px;
  min-height: 32px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.clear:hover {
  background-color: lightblue;
}

.input-box {
  display: flex;
  align-items: center;
  border-top: 1px solid grey;
}

input {
  font-size: 28px;
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
}

.return {
  min-width: 32px;
  min-height: 32px;
  border-radius: 5px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.return:hover {
  background-color: rgba(10, 10, 10, 0.2);
}

img {
  user-select: none;
  pointer-events: none;
}

.output {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-top: 1px solid grey;
  transform: scaleY(1);
  transform-origin: bottom;
  transition: transform 0.2s;
}

.hidden {
  border-top: none;
  transform: scaleY(0);
  height: 0px;
  padding: 0px 10px;
  transition: transform 0.2s;
}

div.output > span:last-child {
  align-self: end;
}

.preview {
  color: grey;
}

.output-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.output-container > .output:first-child {
  margin-top: auto;
}

.output-container::-webkit-scrollbar {
  display: none;
}
