.calculator-container {
  font-size: 24px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.menu-left {
  display: flex;
  align-items: center;
  padding: 5px;
  min-height: 42px;
  border-bottom: 1px solid grey;
  overflow: hidden;
}

.output {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-top: 1px solid grey;
  transform: scaleY(1);
  transform-origin: bottom;
  transition: transform 0.2s;
}

.hidden {
  border-top: none;
  transform: scaleY(0);
  height: 0px;
  padding: 0px 10px;
  transition: transform 0.2s;
}

div.output > span:last-child {
  align-self: end;
}

.preview {
  color: grey;
}

.output-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.output-container > .output:first-child {
  margin-top: auto;
}

.output-container::-webkit-scrollbar {
  display: none;
}
